html, body, div, span, applet, object, iframe,
h1,h2,h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
    outline: 0;
}
body {
    line-height: 1;
    color: black;
    background: white;
}
ol, ul {
    list-style: none;
}
/* tables still need ‘cellspacing=“0”’ in the markup */
table {
    border-collapse: separate;
    border-spacing: 0;
}
caption, th, td {
    text-align: left;
    font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: “”;
}
blockquote, q {
    quotes: “” “”;
}
/* -------------------------------------------------reset css---------------------------------------------------*/
*{
    box-sizing: border-box;
    font-size: 20px;
    font-weight: bold;
}
h2{
    padding-top: 20px;
    font-size: 30px;
    font-weight: bold;
}
h3{
    font-size: 25px;
    text-align: end;
    font-weight: bold;
}
.input-cloumn{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
.newItem{
    background-color:#FFD1AA;
    border-radius: 3px;
    border: 0;
    padding-left:5px;
    padding-top: 2px;
    padding-bottom: 2px;
    line-height: 50px;
}
.add-btn{
    height:55px;
    width:60px;
    border-radius: 0 5px 5px 0;
    border: 0;
    background-color: #804515;
    color:#ffffff;
}
.item-container{
    line-height: 50px;
    width:800px;
    margin:auto;
    position: relative;
}
.item-name{
    font-weight: bold;
    font-size: 20px;
}
.delete-btn{
    height:35px;
    width:40px;
    border-radius: 5px;
    border: 0;
    background-color: #804515;
    color:#ffffff;
    margin-left: 10px;
    right:0;
    position: absolute;
}