html, body, div, span, applet, object, iframe,
h1, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
    outline: 0;
}
body {
    line-height: 1;
    color: black;
    background: white;
}
ol, ul {
    list-style: none;
}
/* tables still need ‘cellspacing=“0”’ in the markup */
table {
    border-collapse: separate;
    border-spacing: 0;
}
caption, th, td {
    text-align: left;
    font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: “”;
}
blockquote, q {
    quotes: “” “”;
}
/* -------------------------------------------------reset css---------------------------------------------------*/

* {
   box-sizing: border-box;
}
.container{
    width:1200px;
    margin:auto;
    background-color:#ffffff;
}

h2{
    padding-top: 20px;
    font-size: 30px;
    font-weight: bold;
} 
.dish-info{
    display:flex;
    margin-top: 40px;
}
.sub-title{
    font-size: 25px;
    font-weight: bold;
}
.dish-info-field{
    margin-bottom: 10px;
}
.dish-ingredient{
    margin-top: 40px;
}
.ingredients{
    margin-top: 15px;
    margin-left: 20px;
}
.receipe-input{
    width:40%;
    border-radius: 3px;
    border:1px solid lightgrey;
    padding-left:5px;
    padding-top: 2px;
    padding-bottom: 2px;
    line-height: 60px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-top: 10px;
}
.delete-ingredient{
    background-color: white;
    border:1px solid lightgrey;
    border-radius: 5px;
    line-height: 60px;
    margin-left: 10px;
    width:5%;
}
.delete-ingredient:hover{
    background-color: #D49A6A;
}
.add-ingredient{
    background-color: white;
    border:1px solid lightgrey;
    border-radius: 5px;
    line-height: 60px;
    margin-left: 10px;
    width:80%;
    margin-bottom: 20px;
}
.add-ingredient:hover{
    background-color: #D49A6A
}

.receipe-img-container{
    width:500px;
    height:auto;
    position: relative;
    border-radius: 5px;
    border:1px solid grey;
    margin-right:40px;
}
.pizza{
    width:100%;
    height:100%;
    position: absolute;
}
.dish-info-text{
    width:750px;
    background-color: wheat;
    padding-left:10px;
}
.description>.receipe-input{
    line-height: 70px;
    width:90%;
    margin-left:30px;
}
.post-btn{
    background-color: white;
    border:1px solid lightgrey;
    border-radius: 5px;
    line-height: 60px;
    margin-left: 10px;
    width:15%;
}
.post-btn:hover{
    background-color: #FFD1AA;
}
  /* Directions */
.dish-direction{
    margin-top: 40px;
    /* background-color:#FFD1AA; */
}
.steps{
    margin: 20px;
}
.step-item{
    margin:auto;
    padding:10px;
    display: flex;
}
.step-item-img-container{
    width: 275px;
    height:auto;
    position: relative;
    border-radius: 5px;
    border:1px solid grey;
}
.step-item-img{
    width:100%;
    height:100%;
    position: absolute;
}
.step-item-info{
    width:70%;
    background-color:#D7A76F;
    padding:10px;
    margin-left:10px;
    border-radius: 5px;
}
.step-item-number{
    font-size: 35px;
    font-weight: bold;
    padding-left: 10px;;
    color:#552600;
}
.step-input{
    border: lightgrey;
    border-radius: 3px;
    height:100px;
} 
.step-item-inputtext{
    width:95%;
    border-radius: 3px;
    border:1px solid lightgrey;
    padding-left:5px;
    padding-top: 2px;
    padding-bottom: 2px;
    line-height: 200px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.step-btns{
    text-align: end;
}
.step-btn{
    background-color: white;
    border:1px solid lightgrey;
    border-radius: 5px;
    line-height: 60px;
    margin-left: 10px;
    width:10%;
}
/* ViewPost.js */
.serving-controll{
    /* border:1px solid lightgrey; */
    text-align:end;
}

.minus-btn,
.plus-btn{
    background-color: white;
    border:1px solid lightgrey;
    border-radius: 5px;
    line-height: 60px;
    margin-left: 10px;
    width:5%;
}
.count{
    font-size: 18px;
    
}
